<?xml version="1.0"?>
<configuration>
  
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  
  <system.net>
    <mailSettings>
      add yout mail settings
    </mailSettings>
  </system.net>
  <system.web>
    <authentication mode="Windows"/>
    <identity impersonate="true"/>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="PresentationFramework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add assembly="Microsoft.Office.Interop.Excel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <!--<add assembly="Microsoft.Office.Interop.Word, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <!--<add assembly="Microsoft.Office.Client.Education, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>-->
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <httpRuntime maxRequestLength="2147483647" executionTimeout="6600000" requestLengthDiskThreshold="2147483647"/>
    <sessionState timeout="90000"/>
    <pages validateRequest="false" controlRenderingCompatibilityVersion="4.0"/>
    <customErrors mode="Off"/>
    <machineKey decryptionKey="9E9FF4EB57F34B925A212F87D977DFC7420FB854B80794D7,IsolateApps" validationKey="704657B05F0AED5A490759DAF52FC5B293AD04D0C1AF342F13424CCA6C83287D4820F97E4ACA321C2A3DF72A6FC5654F89F6111066104327F4F26F8237A38FB7,IsolateApps"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
    <staticContent>
      <mimeMap fileExtension=".xslx" mimeType="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
    </staticContent>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2147483647"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <appSettings>
    <add key="Application_Name" value="ContactHub Lebanon"/>
    <add key="FolderPath" value="Files/"/>
  </appSettings>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="conString" connectionString="Data Source=10.211.8.198;Initial Catalog=CleanUp_Photos;User id =sa;password=leb59900"/>
  </connectionStrings>
</configuration>
